body {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

}

.title {

    text-align: center;
    max-width: 100%; /* Allow the title to take up the full width when needed */
    background-color: blue;
    padding: 2vw 1vw;
    border-radius: 10px 10px 0 0;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;

}

.RegForm {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 30vw;
    padding: 2vw 1vw;
    background-color: blue;
    border-radius: 0 0 10px 10px;
}

input {
    border: 1px solid rgb(172, 171, 171);
    border-radius: 10px;
    padding: 1vw 1vw;
    outline: none;
    margin: 5px;
}

input[type="submit"] {
    background-color: white;
}