h1,
h2,
h3 {
    font-weight: 700;
}

.text-center {
    text-align: center;
}

#login-page {
    color: #2a2a2a;
}

@media (min-width: 768px) {
    #login-page {
        padding: 20px;
    }
}

#login-page .form {
    background: #fff;
    border-radius: 4px;
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    #login-page .form {
        width: 60%;
    }
}

@media (min-width: 992px) {
    #login-page .form {
        width: 40%;
    }
}

#login-page .form__tabs {
    display: flex;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#login-page .form__tabs .tab {
    display: flex;
    flex: 2;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    background: #f2f2f2;
    padding: 12px 14px;
    border-bottom: 5px solid #e5e5e5;
    color: #939393;
    transition-delay: 0.1s;
}

@media (min-width: 768px) {
    #login-page .form__tabs .tab {
        font-size: 20px;
    }
}

#login-page .form__tabs .tab:first-child {
    border-top-left-radius: 4px;
}

#login-page .form__tabs .tab:last-child {
    border-top-right-radius: 4px;
}

#login-page .form__tabs .tab.active {
    background: #fff;
    color: #2a2a2a;
    border-color: black;
    transition: 0.3s;
}

#login-page .form__content {
    padding: 0 20px 20px;
}

@media (min-width: 768px) {
    #login-page .form__content {
        padding: 0 50px 50px;
    }
}

#login-page .form__content .form-variant {
    display: none;
    transition: 0.5s;
}

#login-page .form__content .form-variant.active {
    display: block;
}

#login-page .form__content .form-variant .input-group {
    position: relative;
}

#login-page .form__content .form-variant .input-group label {
    color: black;
    padding: 6px 0;
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}

#login-page .form__content .form-variant .input-group .input-field {
    display: block;
    width: calc(100% - 59px);
    height: 40px;
    padding-left: 50px;
    margin-bottom: 6px;
    border: 1px solid black;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 1em;
    border-radius: 0 !important;
}

@media (min-width: 768px) {
    #login-page .form__content .form-variant .input-group .input-field {
        width: calc(100% - 53px);
    }
}

#login-page .form__content .form-variant .input-group .input-field:focus {
    outline: none;
    border-bottom-width: 5px;
}

#login-page .form__content .form-variant .input-group .input-field--submit {
    width: 100%;
    border-radius: 0;
    background: black;
    color: #fff;
    border: none;
    margin-top: 12px;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#login-page .form__content .form-variant .input-group .input-icon {
    position: absolute;
    top: 20px;
    left: 5px;
    width: 30px;
    height: 30px;
}

#login-page .form__content .form-variant input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

#login-page .form__content .form-variant .forgot-link {
    display: block;
    margin-top: 12px;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}